@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Vithkuqi&display=swap');

main{
    width: 100vw;
    height: 100vh;

    display: flex;
}

.container-game{
    display: flex;
    justify-content: center;
}

.game{
    margin-top: 2vh;
    width: 70vw;
    height: 95vh;
    background-color: white;
}

.container-players{
    width: 50vw;
    height: 100vh;
    background-color: #49007e;
}

.container-player1{
    border-radius: 0px 1.5vh 1.5vh 0px;
    border-right: 0.4vw black solid;
}

.container-player2{
    border-radius: 1.5vh 0px 0px 1.5vh;
    border-left: 0.4vw black solid;
}

.centralize-playerProfile{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerProfile{
    margin-top: 2vh;
    width: 27vh;
    height: 27vh;
    background-color: aliceblue;

    border-radius: 50%;
}

.playerName{
    margin: 0px;
    margin-top: 2.5vh;

    color: white;
    font-family: 'Noto Serif Vithkuqi', serif;
    font-size: 2em;
    font-weight: 300;
}

.playerName::first-letter{
    color: red;
}

.cooldown{
    width: 14vw;
    height: 3.5vh;
    border-radius: 0.8vh;

    border: 0.32vh black solid;
}

.cooldown::-webkit-progress-bar {
    border-radius: 0.8vh;
    background-color: whitesmoke;
}
.cooldown::-webkit-progress-value {
    border-radius: 0.8vh 0px 0px 0.8vh;
    background-color: red;
}
.cooldown::-moz-progress-bar {
    background-color: red;
}