main{
    width: 100vw;
    height: 100vh;

    display: flex;
}

.container-game{
    display: flex;
    justify-content: center;
}

.game{
    margin-top: 2vh;
    width: 70vw;
    height: 95vh;
    background-color: white;
}

.container-players{
    width: 50vw;
    height: 100vh;
    background-color: #49007e;
}

.container-player1{
    border-radius: 0px 1.5vh 1.5vh 0px;
    border-right: 0.4vw black solid;
}

.container-player2{
    border-radius: 1.5vh 0px 0px 1.5vh;
    border-left: 0.4vw black solid;
}

.cooldown{
    border-radius: 0;
}