@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Vithkuqi&display=swap');

body{
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='67' height='67' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(135)'%3E%3Crect width='100%25' height='100%25' fill='rgba(51, 103, 163,1)'/%3E%3Cpath d='M0 28.5a 8.5-8.5 0 0 0 8.5-8.5a 11.5-11.5 0 0 1 11.5-11.5v3a-8.5 8.5 0 0 0-8.5 8.5a-11.5 11.5 0 0 1-11.5 11.5zM0 68.5a 8.5-8.5 0 0 0 8.5-8.5a 11.5-11.5 0 0 1 11.5-11.5v3a-8.5 8.5 0 0 0-8.5 8.5a-11.5 11.5 0 0 1-11.5 11.5z' fill='rgba(255, 138, 0,1)'/%3E%3Cpath d='M20 28a 8-8 0 0 0 8-8a 12-12 0 0 1 12-12v4a-8 8 0 0 0-8 8a-12 12 0 0 1-12 12z' fill='rgba(252, 252, 252,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E");

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

main.active{
    visibility: hidden;
}

main{
    visibility: visible;
    
    width: 85vw;
    height: 92vh;
    display: flex;
    background-color: #FCFCFC;
    border-radius: 21px;
}

.container-game{
    width: 70vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreboard{
    margin-block: 0.5vh 0vh;
    font-size: 2.8em;
    font-family: 'Noto Serif Vithkuqi', serif;
    font-weight: 600;
}

.game{
    margin-top: 0.5vw;
    width: 42vw;
    height: 42vw;
}

.container-players.active{
    opacity: 1;

    transition-property: opacity;
    transition-delay: 0.2s;
    transition: 0.7s;
}

.container-players{
    width: 20vw;
    height: 15vh;

    opacity: 0.6;

    background-color: #FF8A00;
    border-radius: 21px 0px;
}

.container-player2{
    align-self: flex-end;
}

.centralize-playerProfile{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerName{
    margin: 0px;
    margin-top: 2.5vh;

    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.playerName.player1::first-letter,
.playerName.player2::first-letter{
    text-transform: uppercase;
}

.playerName.player1::first-letter{
    color: rgb(223, 57, 57);
}

.playerName.player2::first-letter{
    color: rgb(0, 42, 255);
}

.cooldown{
    width: 14vw;
    height: 2.8vh;

    margin-top: 2vh;

    border: 0;
}

.cooldown::-webkit-progress-bar {
    background-color: whitesmoke;
}
.cooldown::-webkit-progress-value {
    background-color: #16B242;
}
.cooldown::-moz-progress-bar {
    background-color: #16B242;
}